body {
  background: url('https://static.pexels.com/photos/1056/sea-sky-sunny-beach.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
